@import '../../../assets/styles/styles.scss';
.wrapper{
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 2fr 3fr; 
  gap: 5px 30px; 
  grid-template-areas: 
    "title cards";

  .title{
    @include subtitle;

    @media(max-width: 768px){
      margin-bottom: 65px;
    }
  }
  
  @media(max-width: 768px){
    display: flex;
    flex-direction: column;
  }

  .cards{
    display: flex;
    flex-direction: column;

    .card{
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 25px;
      .subtitle{
        @include subtitle2;
        margin-bottom: 20px
      }
      .content{
        @include content;
        padding-bottom: 20px;
      }
    }
  }


}