@import '../../../assets/styles/styles.scss';
.wrapper{
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 2fr 3fr; 
  gap: 5px 20px; 
  grid-template-areas: 
    "steps content";

    @media(max-width: 1024px){
      display: flex;
      flex-direction: column;
    }

  .steps{
    grid-area: steps;
  }  

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: content;
    @include content;
    
    @media(max-width: 480px){
      flex-direction: column;
    }
    .action{
      @media(max-width: 1024px){
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
      }

      img{
        cursor: pointer;
        width: 75px;
                
      }
      .left{
        margin-right: 15px;
      }
    }
  }
  
}


  
