@import '../../styles/styles.scss';
.wrapper{
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 2fr 3fr; 
  gap: 5px 30px; 
  grid-template-areas: 
    "title cards";

  .title{
    @include subtitle;

    @media(max-width: 768px){
      margin-bottom: 65px;
    }
  }
  
  @media(max-width: 768px){
    display: flex;
    flex-direction: column;
  }

  .cards{
    display: flex;
    flex-direction: column;

    .s1, .s2, .s3, .s4{
      display: grid;
      grid-auto-columns: 1fr; 
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
      gap: 5px 20px; 
      grid-template-areas: 
        "c1 c1"
        "c2 c2";
      
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      
      margin-bottom: 25px;
      .c1{
        grid-area: c1;
        @include subtitle2;
      }
      .c2{
        grid-area: c2;
        @include content;
      }
    }
  }


}