@import '../../assets/styles/styles.scss';
.wrapper{
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 2fr 4fr; 
  gap: 5px 0; 
  grid-template-areas: 
    "title cards";
  padding-top: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  .title{
    @include subtitle;

    @media(max-width: 768px){
      margin-bottom: 65px;
    }
  }
  
  @media(max-width: 480px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards{
    grid-area: cards;
    display: flex;

    .icon{
      margin-right: 25px;
    }

    .card{
      margin-bottom: 25px;
      @include subtitle2;
    }
  }


}